* {
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
    font-family: "Montserrat", sans-serif;
}

:root {
    --top-header-height: 82px;
    --nav-bar-height: 75px;
    --live-chat: 65px;
    --header: calc(100vh - var(--top-header-height));
}

body { 
    width: 100vh;
    overflow-x: hidden;
}

.main-section {
    width: 100vw;
}

.header-circle {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top:0;
  pointer-events:none;
  cursor: grab;
  z-index: 10;
  
}

.live-chat {
    border: 4px solid white;
    border-radius: 100%;
    height: var(--live-chat);;
    width: var(--live-chat);;
    align-self: self-end;
    margin: 0 15px 15px 0;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.live-chat i {
    color: white;
    font-size: 1.6rem;
   
}

.top-header {
    height: var(--top-header-height);
    background-color: white;
   
}

.top-header img {
    height: inherit;
    width: 115px;
    margin-left: 170px;
}


.pixel-haven {
    position: absolute;
    top:82px;
    height: auto;
}



.nav-bar {
    height: var(--nav-bar-height);
    position: sticky;
    top: var(--top-header-height);
    left:0 ;
    background-color: white;
    color: black;
    z-index: 10;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    
}

.nav-bar a:hover {
    color: blue ;
}

#home-nav-bar {
position:fixed;
height: var(--nav-bar-height);
z-index: 10;
background-color: black;
color: white;

}

nav {
    height: 100%;
    width: 100%;  
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}

nav img {
    height: 70%;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

li {
    list-style-type: none;
   
}

li a {
    color: inherit;
    text-decoration: none;
}

.nav-icons  {
 display: flex;
 gap: 20px;
 font-size: 20px;
}



.main-body {
    height: auto ;
    position: relative;
    /* z-index: -1; */
   
}


/* HOME PAGE */

header {
    height: calc(100vh - var(--top-header-height));

}

.header-swiper swiper-slide {
    background-repeat: no-repeat;
    background-size:cover;
    
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
   
}

@keyframes slide1-image {
    from {transform: scale(1)}
    to {transform: scale(1.08)}
}

@keyframes showheadings {
    from {visibility: visible;}
    to {visibility: visible;}
}

.header-swiper img {
    animation: slide1-image 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.header-headings {
    color: white;
    padding: 0px 550px 0 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    visibility: hidden;

    animation: showheadings 4s;
    animation-iteration-count: infinite;
    animation-delay: 0.8s;


}

.header-swiper button {
    height: 50px;
    width: 160px ;
    text-align: center;
    border-radius: 5px;
    border-color: white;
    background-color: white;
    font-size: 17px;
}
.explore {
    height: 814px;
    padding-top: 70px ;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

#explore-container {
    height:560px;
    width: 1250px;
    margin: 60px auto;
}

/* SWIPER 2 */
swiper-container {
    width: 100%;
    height: 100%;
  }


.explore-swiper swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
  }

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    position: absolute;
    z-index: -1;
  }
.explore-swiper button {
 height: 50px;
 width: 140px ;
 text-align: center;
 border-radius: 5px;
 border-color: white;
 background-color: white;
 font-size: 17px;
 font-weight: 200;
 
}

.explore-swiper button:hover {
    cursor: pointer;
    opacity: 80%;
}

.explore-swiper p {
    color: white;
    font-weight: bold;
    font-size: 26px;
}
.nostalgic, .new-game, .exclusives {
    height: 851px;
    background-color:rgb(241, 241, 241);
    padding: 110px ;
}

h3 {
    font-size: 2.5rem;

}

.par-button-container {
    display: flex;
    justify-content: space-between;
}

.par-button-container button {
    height: 50px;
    width: 130px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 17px;
}

.par-button-container button:hover {
    transition: 0.5s;
    background-color: black;
    color: white;
    cursor:pointer;
}

.par-button-container p {
    align-self: flex-end;
}

.home-products-container {
    height: 550px;
    width: 100%;
    margin:70px 0 70px 0;
    display: flex;
    gap: 15px;
    
}

.home-products {
 height: fit-content ;
 width: fit-content;
 display: flex;
 flex-direction: column;
 gap: 15px;
 padding-bottom: 20px;
 

}
.home-products:hover {
    border: 1px solid black;
}

.home-products img {
    height: 80%;
    width: 100%;
   

}

.product-name {
    font-weight: bold;
}

.product-details {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: fit-content;
    
}

.prev-price {
    text-decoration: line-through;
}

.cart-link:hover {
    color: red ;
    cursor: grab;
}



.cart-link {
    text-decoration: underline;
    color: black;
}

.sale-tag {
    background-color: black;
    color: white;
    position: absolute;
    padding: 10px 20px;
    margin: 10px;
    font-size: 14px;
}


.top-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}
footer {
    padding: 75px 50px;
    height: 444px;
}

.footer-cols {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 50%;
}

.footer-cols div {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

h4 {
    font-size: 22px;
}

.join-news {
    display: flex;
    flex-direction: column;
    gap: 10px;  
    margin-left: 280px;

}

footer input {
    height: 50px;
    border-radius: 5px;
}

.email { 
    width: 270px;
    border-color: rgba(0,0,0,0.4);
    padding: 20px;
}

.subscribe-button {
width: 170px;
background-color: black;
color: white ;
}

footer a, footer p {
    font-size: 14px;
}

.bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin-top: 20px;

}

.bottom-footer div {
    display: flex;
    gap: 20px;
}
/* SHOP NOW PAGES */
.seasonal {
    background-color: black;
    height: 45px;
    color: white ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.shop-now-headings {
    height: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px ;
    padding-left: 50px;

}

.shop-now-headings p {
    font-size: 14px;
}

.shop-now-headings h1 {
 font-size: 30px;
}

.shop-now-container {
    display:flex ;
   
}

.selection-bar {
    height: calc(100vh - var(--nav-bar-height) - var(--top-header-height));
    width: 420px;
    position: sticky;
    top: calc(var(--nav-bar-height) + var(--top-header-height));
    padding: 30px ;
    overflow: hidden ;
}

.collapse {
    font-weight: bold;
    margin-bottom: 30px;
}

.page-name-block {
border: 0.5px solid rgba(0,0,0,0.2) ;
border-radius: 4px;
padding: 5px;


}

.reset {
margin: 15px 0 50px 0;
font-weight: bold;
}

.reset span {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 100;
    
}

.filter-heading {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.filter-heading h6{
 font-size: 16px;
 display: inline;
 font-weight: normal;
}

.filter-heading span {
    font-size: 10px;
}

.filter-heading span:hover {
    cursor:grabbing;
}

.filter-price-top {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    padding: 0;
    font-weight:600;
}

.select-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 20px;
}

.options {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    padding: 5px;
    display: none;
    position: absolute;
    background-color: white;
}

.options div {
    border-radius: 2px;
    font-size: 14px;
    padding: 7px;
}

.options div:hover {
  background-color: lightgray;
}

.select-input:focus + .options {
  display: block;
}

.price-filter-comp {
    display: flex;
    flex-direction: row;
}

.circle {
    width: 25px;
    height: 20px;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2) ;
    background-color: white;
    border-radius: 100%;
  
}

.line {
    width: 100% ;
    height: 5px ;
    background-color: black;
    align-self: center;
    
}

.filter-price-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 20px 10px;
    color: gray;
}

.checkboxes  {
display: flex;
flex-direction: column;
gap: 20px;
}

.checkboxes div:hover {
    color: lightgrey;
}
.products-shop-now-container {
    width:100%;
    display: grid;
    grid-template-columns: 33% 33% 33%  ;
    gap: 50px 15px;
    margin: 30px 55px 0 0;
    height: fit-content;

}

.products-shopnow {
    height:480px;
}

/* MEDIA QUERIES */

@media screen and (min-width:1697px) {

     .nostalgic, .new-game, .exclusives {
        height: fit-content;
        padding: 100px ;
    
    }
}

@media screen and (max-width: 1225px) {
    #explore-container {
        width: 1220px;
    }

    .email {
        width: 220px;
    }

    .subscribe-button {
        width: 130px ;
    }
    
}

@media screen and (max-width: 1019px) {
    #explore-container {
        width: 1010px;
    }
    h4 {
        font-size: 18px;

    }

    footer a {
        font-size: 12px;
    }

    .footer-cols {
      width: 80%;
    }

    .join-news {
        margin-left: 100px;
    }

    footer input{
        height: 40px;
    }

    .email {
        padding: 0;
    }

    .email {
        width: 200px;
    }

    .subscribe-button {
        width: 100px ;
    }

    .bottom-footer span {
        font-size: 14px;
    }

    .nostalgic, .new-game, .exclusives {
        height: fit-content;
        padding: 60px ;
    }

    



}