* {
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
}

:root {
    --top-header-height: 82px;
    --nav-bar-height: 75px;
    --live-chat: 65px;
    --header: calc(100vh - var(--top-header-height));
}
/* body{
    position: absolute;
    top:0;
    left: 0;
} */


.main-section {
    width: 100%;
}

.header-circle {
  height: 100vh;
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top:0;
  z-index: 1;
}

.live-chat {
    border: 4px solid black;
    border-radius: 100%;
    height: var(--live-chat);;
    width: var(--live-chat);;
    align-self: self-end;
    margin: 0 20px 20px 0;
   
}

.top-header {
    height: var(--top-header-height);
    border: 1px solid aqua;
}



.pixel-haven {
    border: 10px solid pink;
    position: absolute;
    top: -80px;
    /* height: calc(var(--header) + 105vh + 300vh + 50vh); */
}



.nav-bar {
    height: var(--nav-bar-height);
    border: 1px solid blue ;
    position: sticky;
    top: var(--top-header-height);
    left:0 ;
    
}

nav {
    position: absolute;
    height: 100%;
    border: 2px solid purple ;
    width: 100%;
  
    
}

.main-body {
    height: auto ;
    border:1px solid green ;
    position: relative;
    /* top: Calc(var(--nav-bar-height) * -1); */
    z-index: -1;
}

header {
    height: calc(100vh - var(--top-header-height));
    border: 2px solid purple ;

}

.explore {
    height: 105vh;
    border: 1px solid orange;
}

.nostalgic, .new-game, .exclusives {
    height: 100vh;
    border: 1px solid red;
}

footer {
  height: 50vh;
  border: 1px solid green;
  position: relative;

}
